<div class="row mx-auto">
  <div class="col col-sm-12">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Private Tour Santorini </mat-panel-title>
          <mat-panel-description>
            <p>23/05/2021 - 30/06/2021</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Confirmation Number: ARD0083923</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Booking details</mat-panel-title>
          <mat-panel-description
            >Confirmation Number: ARD0083923
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
