@import '../../../shared/style/mixins';
@import '../../../shared/style/variables';


.jumbotron {
  @include zero-margin(70px, 40px);
  background: url("../../../../assets/travel.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-icon;
  position: relative;
  height: 500px;
  min-height: 150px;
}

.jumbotron h1 {
  font-size: 50px;
  line-height: 3rem;
}

.jumbotron p {
  font-size: large;
}

.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

.text-larger {
  font-size: 50px;
  margin-top: 10px;
  line-height: 3rem;
}

.text-large {
  font-size: 18px;
  margin-top: 20px;
  line-height: 2rem;
  font-weight: 200;
  text-align: justify;
}

.card-w {
  max-width: 30rem;
}


.blog-card {
  //max-width: 70%;
  background-color: #fff;
  color: #000;
}

.blog-header-image {
  background-image: url('../../../../assets/person1.jpeg');
  background-size: cover;
}

.cat a:hover {
  background: #f8f8ff;
}


.overlay-gradient {
  position: relative;
}

.overlay-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #4FC3F7, #8E24AA);
  display: block;
  opacity: 0.40;
}

.overlay-content {
  z-index: 99;
  position: relative;
}
