<div
  class="jumbotron overlay-gradient"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="40px"
>
  <div class="overlay-content" fxFlex>
    <h1 class="display-4">Our Blog</h1>
  </div>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-8 my-5">
      <div class="d-flex flex-column gap-5 me-5">
        <mat-card class="blog-card" appHighlight>
          <mat-card-header>
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title
              >Best Hotels in Crete: Base on ratings from
              <a href="https://www.booking.com/">Booking.com</a></mat-card-title
            >
            <mat-card-subtitle class="text-secondary"
              >Mar 5, 2021 By:
              <span class="text-primary">John Smith</span></mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/crete1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="blog-card" appHighlight>
          <mat-card-header>
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title
              >Best Hotels in Crete: Base on ratings from
              <a href="https://www.booking.com/">Booking.com</a></mat-card-title
            >
            <mat-card-subtitle class="text-secondary"
              >By: John Smith</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/crete1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="blog-card" appHighlight>
          <mat-card-header>
            <div mat-card-avatar class="blog-header-image"></div>
            <mat-card-title
              >Best Hotels in Crete: Base on ratings from
              <a href="https://www.booking.com/">Booking.com</a></mat-card-title
            >
            <mat-card-subtitle class="text-secondary"
              >By: John Smith</mat-card-subtitle
            >
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/crete1.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col col-md-4 d-flex flex-column my-5 mx-auto">
      <div class="row row-cols-1">
        <div class="col">
          <form
            class="form-inline d-flex row row-cols-2 row-cols-md-1 mb-4 mx-auto"
          >
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="col">
          <div class="card border-light mb-4 mx-auto" appHighlight>
            <div class="card-header">Categories</div>
            <div class="card-body fs-5 cat">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="#">Travelling</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="#">Tips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="#">Inteneraries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="#">News</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-light mb-4 mx-auto" appHighlight>
            <div class="card-header">Popular Posts</div>
            <div class="card-body">
              <h5 class="card-title">Light card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
