<div class="row mb-5">
  <h1 class="text-larger text-center">Our Services</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mx-auto">
    <div class="col">
      <div
        class="card text-white bg-primary border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">City Tour</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card col text-white bg-secondary border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">Sea Tour</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card col text-white bg-success border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">Safari</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card col text-dark bg-warning border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">Mountail</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card col text-dark bg-info border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">Nature</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card col text-white bg-dark border-secondary mb-3"
        appHighlight
      >
        <div class="card-header fs-2">Museums</div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
