<div class="row my-5">
  <div class="card my-5 mx-auto" appHighlight>
    <div class="row no-gutters mx-auto">
      <div class="card col-md-6 d-flex flex-column">
        <h1 class="card-title text-larger">Hot Tours</h1>
        <p class="card-text text-large">
          Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem
          ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum
          sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris.
        </p>

        <div class="card-footer mt-auto bg-transparent">
          <a class="btn btn-primary btn-lg" href="" role="button"
            >Buy This Tour</a
          >
        </div>
      </div>

      <div class="col col-md-6">
        <img
          src="../../../../../assets/santorini4.jpg"
          class="card-img w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
