<div class="d-flex flex-column mb-2 mb-5">
  <h1 class="text-center text-larger mt-5">What People Say</h1>

  <!-- <div class="container"> -->
  <div class="row">
    <div
      class="row row-cols-1 row-cols-md-3 g-4 m-auto gap-4 justify-content-center"
    >
      <div class="card" style="width: 18rem" appHighlight>
        <img
          src="../../../../../assets/person.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <span class="text-muted fst-italic">Mike Smith</span>
          </p>
        </div>
      </div>

      <div class="card" style="width: 18rem" appHighlight>
        <img
          src="../../../../../assets/person1.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <span class="text-muted fst-italic">Mike Smith</span>
          </p>
        </div>
      </div>

      <div class="card" style="width: 18rem" appHighlight>
        <img
          src="../../../../../assets/person2.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <span class="text-muted fst-italic">Mike Smith</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
