  <div class="card mb-3" appHighlight>
        <div class="row no-gutters">
            <div class="col col-md-6 " >
                <img src="../../../../assets/gaddafi.jpg" class="card-img" alt="...">
            </div>

            <div class="card col-md-6 d-flex flex-column">
                <div class="d-flex flex-column card-body p-2 align-items-center">
                    <h1 class="card-title text-larger" >Discover New Horizon</h1>
                    <p class="card-text text-large">Lorem ipsum dolor sit amet ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
                </div>

                <div class="card-footer mt-auto p-2 bg-transparent d-flex justify-content-center gap-2">
                    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
                    <a class="btn btn-primary btn-lg" href="/contact" role="button">Get in Touch</a>
                </div>

            </div>
        </div>
    </div>


    