<div class="d-grid gap-5">
    <div class="row gap-3">
        <div class="col-12 col-sm card text-white " appHighlight>
            <img src="../../../../assets/river.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2">Holiday in Carribean</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>

        <div class="col-12 col-sm card text-white" appHighlight>
            <img src="../../../../assets/gaddafi.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2 ">Holiday in Greece</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>

        <div class="col-12 col-sm card text-white" appHighlight>
            <img src="../../../../assets/river.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2 ">Holiday in Asia</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>
    </div>

    <div class="card mb-3" appHighlight>
        <div class="row no-gutters">
            <div class="col-md-6 fluid" >
                <img src="../../../../assets/gaddafi.jpg" class="card-img" alt="...">
            </div>

            <div class="col-md-6 d-flex flex-column">
                <div class="card-body p-2">
                    <h1 class="card-title text-larger" >Discover New Horizon</h1>
                    <p class="card-text text-large">Lorem ipsum dolor sit amet ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
                </div>

                <div class="card-footer mt-auto p-2 bg-transparent d-flex justify-content-around align-items-end">
                    <div class="">
                        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
                    </div>
                    <div class="">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Get in Touch</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <h1 class="text-larger text-center ">Our Services</h1>
        <div class="d-flex gap-3 justify-content-between">
            <div class="card col-sm border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">City Tour</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center ">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>

            <div class="card col-sm border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">Sea Tour</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>

            <div class="card col-sm border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">Hiking</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
        </div>

        <div class="d-flex gap-3 justify-content-between">
            <div class="card border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">City Tour</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>

            <div class="card border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">Sea Tour</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>

            <div class="card border-secondary mb-3 card-wh" appHighlight>
                <div class="card-header text-center fs-2">Hiking</div>
                <div class="card-body text-secondary">
                    <p class="card-text text-center">Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3" appHighlight>
        <div class="row no-gutters">
            <div class="card col-md-6 d-flex flex-column">
                <div class="p-2">
                    <h1 class="card-title text-larger " >Hot Tours</h1>
                    <p class="card-text text-large">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> 
                </div>

                <div class="card-footer mt-auto p-2 bg-transparent">
                    <div class="">
                        <a class="btn btn-primary btn-lg" href="" role="button">Buy This Tour</a>
                    </div>
                
                </div>
            </div>

            <div class="col col-md-6" >
                <img src="../../../../assets/river.jpg" class="card-img" alt="...">
            </div>
        </div>
    </div>






      <!-- <div class="row gap-3">
        <mat-card class="col col-sm" >
            <img mat-card-image src="../../../../assets/river.jpg" alt="">
            <mat-card-content >
                <p>Hollidays</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col col-sm">
            <img mat-card-image src="../../../../assets/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg" alt="">
            <mat-card-content >
                <p>Hollidays</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col col-sm">
            <img mat-card-image src="../../../../assets/river.jpg" alt="">
            <mat-card-content >
                <p>Hollidays</p>
            </mat-card-content>
        </mat-card>
    </div> -->

     <!-- <div class="d-flex justify-content-between">
        <mat-card class="col col-sm-5" >
            <img mat-card-image src="../../../../assets/river.jpg" alt="">
            <mat-card-content >
                <p>Hollidays</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="col col-sm-5">
            <img mat-card-image src="../../../../assets/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg" alt="">
            <mat-card-content >
                <p>Hollidays</p>
            </mat-card-content>
        </mat-card>

    </div> -->

    <!-- <div class="row">
        <mat-card class="d-flex">
            <img class="w-50" mat-card-image src="../../../../assets/gaddafi-rusli-2ueUnL4CkV8-unsplash.jpg" alt="">
        </mat-card>

    </div> -->

</div>
