.nopaddingmargin {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.texthover:hover {
  color: #fff;
  background-color: darkturquoise;
}

.card-width {
  max-width: 20rem
}

.card-txt {
  color: rgb(12, 211, 211);
}
