<div class="d-flex flex-column align-items-center">
  <h1 class="fs-4">#1</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 text-white">
    <div class="col">
      <div class="card mx-auto card-width" appHighlight>
        <img
          src="../../../../../../assets/person1.jpeg"
          class="card-img"
          alt=""
        />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="txt-background">
            <h2 class="card-title fw-bold nopaddingmargin texthover">
              John Dow
            </h2>
            <h5 class="card-text nopaddingmargin card-txt">Travel Agent</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto card-width" appHighlight>
        <img
          src="../../../../../../assets/person2.jpeg"
          class="card-img"
          alt=""
        />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="txt-background">
            <h2 class="card-title fw-bold nopaddingmargin texthover">
              Micheal Smith
            </h2>
            <h5 class="card-text nopaddingmargin card-txt">Tour Consultant</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto card-width" appHighlight>
        <img
          src="../../../../../../assets/person3.jpg"
          class="card-img"
          alt=""
        />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="txt-background">
            <h2 class="card-title fw-bold nopaddingmargin texthover">
              Ellen John
            </h2>
            <h5 class="card-text nopaddingmargin card-txt">PR Manager</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
