<div class="d-flex flex-column align-items-center">
  <h1 class="fs-4">#1</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4 text-white">
    <div class="col" *ngFor="let team of teams">
      <div class="card mx-auto card-width" appHighlight>
        <img src=" {{ team.picture }}" class="card-img" alt="" />
        <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="txt-background">
            <h2 class="card-title fw-bold nopaddingmargin texthover">
              {{ team.name }}
            </h2>
            <h5 class="card-text nopaddingmargin card-txt">
              {{ team.position }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
