<div
  class="jumbotron overlay-dark"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
>
  <div class="overlay-content mx-auto" fxFlex>
    <h1 class="display-4 text-center p-3">Your Ultimate Travel Experience</h1>
    <p class="lead text-center p-3">
      We take inspiration from the World's best Hotels, and create a unique
      travel experience. Our travel recommedations will tackle your journey
      experience from departure to arrival to your destination!
    </p>
    <p class="text-center">
      <a
        href=""
        class="btn btn-outline-light btn-lg"
        href="/about"
        role="button"
        >Learn more</a
      >
    </p>
  </div>
</div>
