<div
  class="jumbotron overlay-gradient"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="40px"
>
  <div fxFlex>
    <h1 class="display-4 fw-bolder overlay-content">Meet Our Team</h1>
  </div>
</div>

<div class="container">
  <div class="row mx-auto gap-5 my-5">
    <app-team1></app-team1>
    <app-team2></app-team2>
    <app-team3></app-team3>
  </div>
</div>
