.nopaddingmargin {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.texthover:hover {
  color: cyan;
}

.back-color {
  background-color: #fafafa;
}

.card-txt {
  color: cyan;
}

.card-txt {
  color: rgb(12, 211, 211);
}
