<div
  class="jumbotron overlay-dark"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="40px"
>
  <div class="overlay-content mx-auto" fxFlex>
    <h1 class="display-4">Gallery</h1>
  </div>
</div>

<div class="container">
  <div class="row gap-4">
    <div class="gallery-nav">
      <h1 class="text-center mt-4">
        <a href="" class="btn btn-lg" href="#" role="button">All</a>
        |
        <a href="" class="btn btn-lg" href="#" role="button">Destinations</a>
        |
        <a href="" class="btn btn-lg" href="#" role="button">Tours</a>
      </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto">
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/crete1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Crete</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/mallorca3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Mallorca</h1>
            <p>Spain</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/santorini.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Santorini</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/crete1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Crete</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/mallorca3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Mallorca</h1>
            <p>Spain</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/santorini.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Santorini</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/crete1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Crete</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/mallorca3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Mallorca</h1>
            <p>Spain</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" appHighlight>
          <img
            src="../../../../assets/santorini.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1>Santorini</h1>
            <p>Greece</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
      <a
        href=""
        class="btn btn-outline-primary btn-lg"
        href="/about"
        role="button"
        >Load more</a
      >
    </p>
  </div>
</div>
