<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#"><img src="../../../../assets/ut.png" ></a>
  <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-light"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
      <li class="nav-item">
        <a mat-button routerLink="home" routerLinkActive="active"> Home</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="about" routerLinkActive="active"> About</a>
      </li> 
      <li class="nav-item">
        <a mat-button routerLink="tours" routerLinkActive="active"> Our Tours</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="gallery" routerLinkActive="active"> Gallery</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="blog" routerLinkActive="active"> Blog</a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="contact" routerLinkActive="active"> Contact</a>
      </li> 
    </ul>

    <span class="flex-spacer"></span>

     <form class="form-inline items-inline  p-3">
      <input class="form-control" type="search" placeholder="Location, Hotels, More" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
    </form>

    <!-- <span class="flex-spacer"></span> -->

    <a mat-button class="bg-dark justify-item-end" (click)="openLoginForm()" ><span class="fa fa-sign-in fa-lg "></span> Login</a>

  </div>
  </div>
</nav>

<div class="jumbotron"
    fxLayout="column"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="40px">

    

    <div fxFlex>
      <h1 class="display-4">Your Ultimate Travel Experience</h1>
      <p>We take inspiration from the World's best Hotels, and create a unique travel experience. Our travel recommedations will tackle your journey experience from departure to arrival to your destination!</p>
      <p class="lead">
        <a href="" class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
      </p>
    </div>
</div>