<mat-toolbar color="primary">
    <span><img src="../../../../assets/ut.png" height=40 width=41></span>
    <span class="flex-spacer"></span>
    <a mat-button routerLink="home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink="contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class="flex-spacer"></span>
    <a mat-button (click)="openLoginForm()" ><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<div class="jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

    <div fxFlex>
      <h1 class="display-4">Ultimate Travel</h1>
      <p>We take inspiration from the World's best Hotels, and create a unique travel experience. Our travel recommedations will tackle your journey experience!</p>
      <p class="lead">
        <a href="" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
</div>