@import '../../shared/style/mixins';
@import '../../shared/style/variables';


.logo img {
  height: 50px;
  margin: 10px;
}



.jumbotron {
  @include zero-margin(70px, 40px);
  background: url("../../../../assets/pool.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: $text-icon;
  position: relative;
  height: 500px;
  min-height: 150px;
}

.jumbotron h1 {
  font-size: 50px;
  line-height: 3rem;
}

.jumbotron p {
  font-size: large;
}

.active {
  color: $text-icon;
}

a {
  margin-right: 20px;
  color: $light-primay;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $text-icon;
}

.items-inline {
  display: flex;
  // position: relative;
  // top: 0;
}
