<mat-toolbar class="bg-dark mb-4">
  <span>Login</span>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="userEmail">Email address</label>
    <input
      [(ngModel)]="user.username"
      name="username"
      #username="ngModel"
      required
      type="email"
      class="form-control"
      id="userEmail"
      aria-describedby="emailHelp"
      placeholder="Enter email or Username"
    />

    <mat-error *ngIf="username.errors?.required"
      >Username is required</mat-error
    >
  </div>
  <div class="form-group">
    <label for="userPassword">Password</label>
    <input
      [(ngModel)]="user.password"
      name="password"
      #password="ngModel"
      required
      type="password"
      class="form-control"
      id="userPassword"
      placeholder="Password"
    />
    <mat-error *ngIf="password.errors?.required"
      >password is required</mat-error
    >
  </div>
  <div class="form-check">
    <input
      [(ngModel)]="user.remember"
      name="remember"
      type="checkbox"
      class="form-check-input"
      id="userCheck"
    />
    <label class="form-check-label" for="userCheck">Remember Me</label>
  </div>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button class="btn btn-danger m-2" mat-button mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.form.invalid"
    >
      Login
    </button>
  </mat-dialog-actions>
</form>
