@import '../../../shared/style/mixins';
@import '../../../shared/style/variables';

.footer {
  background-color: $primary-text;
  @include zero-margin(20px, 0px);
  color: $text-icon;
}

.active {
  color: $text-icon;
}

a {
  margin-right: 20px;
  color: $light-primay;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $text-icon;
}


.btn-facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
}

.btn-youtube {
  color: #fff !important;
  background-color: #ff4b39 !important;
}

.btn-linkedin {
  color: #fff !important;
  background-color: #007bb6 !important;
}

.btn-twitter {
  color: #fff !important;
  background-color: #55acee !important;
}

.btn-mail {
  color: #fff !important;
  background-color: #512DA8 !important;
}
