<div class="container">
    <div class="row">
        <h1 class="text-larger text-center">Our Offices</h1>

<div class="row row-cols-1 row-cols-md-4 g-2">
    <div class="col">
        <div class="card border-secondary mb-3 card-wh card-wm" appHighlight>
            <div class="card-header text-center fs-2">Greece</div>
            <div class="card-body text-secondary">
                <p class="card-text text-center ">Address: 123 Glyfada, 11141 Athens</p>
                <p class="card-text text-center ">Phone: +1234567890</p>
                <p class="card-text text-center ">Email: info@ultimatetravel.com</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-secondary mb-3 card-wh card-wm" appHighlight>
            <div class="card-header text-center fs-2">Maldives</div>
            <div class="card-body text-secondary">
                <p class="card-text text-center ">Address: 123 Glyfada, 11141 Athens</p>
                <p class="card-text text-center ">Phone: +1234567890</p>
                <p class="card-text text-center ">Email: info@ultimatetravel.com</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-secondary mb-3 card-wh card-wm" appHighlight>
            <div class="card-header text-center fs-2">Spain</div>
            <div class="card-body text-secondary">
                <p class="card-text text-center ">Address: 123 Glyfada, 11141 Athens</p>
                <p class="card-text text-center ">Phone: +1234567890</p>
                <p class="card-text text-center ">Email: info@ultimatetravel.com</p>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card border-secondary mb-3 card-wh card-wm" appHighlight>
            <div class="card-header text-center fs-2">Spain</div>
            <div class="card-body text-secondary">
                <p class="card-text text-center ">Address: 123 Glyfada, 11141 Athens</p>
                <p class="card-text text-center ">Phone: +1234567890</p>
                <p class="card-text text-center ">Email: info@ultimatetravel.com</p>
            </div>
        </div>
    </div>
</div>
    </div>
</div>