<div class="row mx-auto">
  <h1 class="text-larger text-center">Our Offices</h1>

  <div class="row row-cols-1 row-cols-md-3 g-2 mx-auto">
    <div class="col">
      <div class="card border-success mb-3" appHighlight>
        <div class="card-header text-center fs-2 border-success text-success">
          Greece
        </div>
        <div class="card-body text-success">
          <p class="card-text text-center">
            Address: 123 Glyfada, 11141 Athens
          </p>
          <p class="card-text text-center">Phone: +1234567890</p>
          <p class="card-text text-center">Email: info@ultimatetravel.com</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-primary mb-3" appHighlight>
        <div class="card-header text-center fs-2 border-primary text-primary">
          Maldives
        </div>
        <div class="card-body text-primary">
          <p class="card-text text-center">
            Address: 123 Glyfada, 11141 Athens
          </p>
          <p class="card-text text-center">Phone: +1234567890</p>
          <p class="card-text text-center">Email: info@ultimatetravel.com</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-secondary mb-3 border-danger" appHighlight>
        <div class="card-header text-center fs-2 border-danger text-danger">
          Spain
        </div>
        <div class="card-body text-danger">
          <p class="card-text text-center">
            Address: 123 Glyfada, 11141 Athens
          </p>
          <p class="card-text text-center">Phone: +1234567890</p>
          <p class="card-text text-center">Email: info@ultimatetravel.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
