.card-wm {
  max-width: 30%;
  margin: 10px;
}

.text-larger {
  font-size: 50px;
  margin-top: 10px;
  line-height: 3rem;
}

.text-large {
  font-size: 18px;
  margin-top: 20px;
  line-height: 2rem;
  font-weight: 200;
  text-align: justify;
}

.card-width {
  max-width: 20rem
}
