<div
  class="jumbotron"
  fxLayout="column"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="40px"
>
  <div fxFlex>
    <h1 class="display-4">Our Tours</h1>
  </div>
</div>

<div
  class="d-flex flex-column justify-content-center mt-3 mx-auto"
  style="width: 75%"
>
  <div class="card my-5" appHighlight>
    <div class="row no-gutters mx-auto">
      <div class="card col-md-6 d-flex flex-column">
        <div class="p-2">
          <h1 class="card-title text-larger">Santorini, Cyclades</h1>

          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

            <span class="badge bg-secondary m-2 fs-6">€890</span>
          </p>

          <p class="card-text text-large">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>

        <div class="card-footer mt-auto p-2 bg-transparent">
          <a class="btn btn-primary btn-lg" href="" role="button"
            >Buy This Tour</a
          >
        </div>
      </div>

      <div class="col col-md-6">
        <img
          src="../../../../../assets/santorini3.jpg"
          class="card-img"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="card my-5" appHighlight>
    <div class="row no-gutters mx-auto">
      <div class="col col-md-6">
        <img
          src="../../../../assets/mallorca1.jpg"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="card col-md-6 d-flex flex-column">
        <div class="p-2">
          <h1 class="card-title text-larger">Palma de Mallorca</h1>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>

            <span class="badge bg-secondary m-2 fs-6">€690</span>
          </p>
          <p class="card-text text-large">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>

        <div class="card-footer mt-auto p-2 bg-transparent">
          <a class="btn btn-primary btn-lg" href="" role="button"
            >Buy This Tour</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card my-5" appHighlight>
    <div class="row no-gutters mx-auto">
      <div class="card col-md-6 d-flex flex-column">
        <div class="p-2">
          <h1 class="card-title text-larger">Crete</h1>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="badge bg-secondary m-2 fs-6">€990</span>
          </p>
          <p class="card-text text-large">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>

        <div class="card-footer mt-auto p-2 bg-transparent">
          <a class="btn btn-primary btn-lg" href="" role="button"
            >Buy This Tour</a
          >
        </div>
      </div>

      <div class="col col-md-6">
        <img src="../../../../assets/crete1.jpg" class="card-img" alt="..." />
      </div>
    </div>
  </div>

  <div class="card my-5" appHighlight>
    <div class="row no-gutters mx-auto">
      <div class="card col-md-6 d-flex flex-column">
        <div class="p-2">
          <h1 class="card-title text-larger">Mykonos</h1>
          <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="badge bg-secondary m-2 fs-6">€590</span>
          </p>
          <p class="card-text text-large">
            Lorem ipsum sed do eiusmod tempor incididunt ut labore na aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>

        <div class="card-footer mt-auto p-2 bg-transparent">
          <a class="btn btn-primary btn-lg" href="" role="button"
            >Buy This Tour</a
          >
        </div>
      </div>

      <div class="col col-md-6">
        <img src="../../../../assets/mykonos.jpg" class="card-img" alt="..." />
      </div>
    </div>
  </div>

  <a class="btn btn-link align-items-center mb-5" href="/gallery" role="button"
    >Other Hot Tours
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
      /></svg
  ></a>
</div>
