<div class="jumbotron"
    fxLayout="column"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="40px">

    

    <div fxFlex>
      <h1 class="display-4">Who We Are</h1>
      <!-- <p>We take inspiration from the World's best Hotels, and create a unique travel experience. Our travel recommedations will tackle your journey experience from departure to arrival to your destination!</p>
      <p class="lead">
        <a href="" class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
      </p> -->
    </div>
</div>