/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/scss/font-awesome";

@import 'app/shared/style/mixins';
@import 'app/shared/style/variables';


html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}

// .background-primary {
//   background-color: $background-dark !important;
// }

// .background-accent {
//   background-color: $accent-color !important;
// }

// .text-floral-white {
//   color: floralwhite !important;
// }

.flex-spacer {
  flex: 1 1 auto;
}

.primary {
  background: #673ab7;
  color: #fff;
}

.highlight {
  background-color: $accent;
  border: 1px solid $dark-primary;
  z-index: 1;
  transform: scale(1.01);
}
