.txt-background {
  background-color: black;
  opacity: 60%;
  //z-index: -1;
}

.nopaddingmargin {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.card-txt {
  color: cyan;
}

.texthover:hover {
  color: cyan;
}


.text-larger {
  font-size: 50px;
  margin-top: 10px;
  line-height: 3rem;
}

.text-large {
  font-size: 18px;
  margin-top: 20px;
  line-height: 2rem;
  font-weight: 200;
  text-align: justify;
}

.card-wh {
  max-width: 24rem;
}


.overlay-dark {
  position: relative;
}

.overlay-dark::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  display: block;
  opacity: 0.30;
}


.overlay-content {
  z-index: 99;
  position: relative;
}
