 <div class="row gap-3">
        <div class="col-12 col-sm card text-white " appHighlight>
            <img src="../../../../assets/river.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2">Holiday in Carribean</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>

        <div class="col-12 col-sm card text-white" appHighlight>
            <img src="../../../../assets/gaddafi.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2 ">Holiday in Greece</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>

        <div class="col-12 col-sm card text-white" appHighlight>
            <img src="../../../../assets/river.jpg" class="card-img" alt="">
            <div class="card-img-overlay">
                <h1 class="card-title fs-2 ">Holiday in Asia</h1>
                <h4 class="card-text">Experince the majic in Greek Islands.</h4>
            </div>
        </div>
    </div>

  