<div class="row">
  <div class="card-group gap-4">
    <div
      class="card text-white overlay-dark"
      *ngFor="let tour of tours"
      appHighlight
    >
      <img src="{{ tour.image }}" class="card-img h-100" alt="" />
      <div class="card-img-overlay">
        <h1 class="card-title fw-bold texthover">{{ tour.title }}</h1>
        <p class="card-text fs-6">{{ tour.introduction }}</p>
      </div>
    </div>
  </div>

  <a class="btn btn-link align-items-center mb-5" href="/tours" role="button"
    >Other Tours
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-arrow-right"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
      /></svg
  ></a>
</div>
