<div class="row gap-3">
  <div class="col-12 col-sm card text-white" appHighlight>
    <img src="../../../../assets/river.jpg" class="card-img" alt="" />
    <div class="card-img-overlay">
      <h1 class="card-title fs-2 fw-bold">Holiday in Carribean</h1>
      <h4 class="card-text">Experince the majic in Carribean.</h4>
    </div>
  </div>

  <div class="col-12 col-sm card text-white" appHighlight>
    <img src="../../../../assets/gaddafi.jpg" class="card-img" alt="" />
    <div class="card-img-overlay">
      <h1 class="card-title fs-2 fw-bold">Holiday in Greece</h1>
      <h4 class="card-text">Experince the majic in Greek Islands.</h4>
    </div>
  </div>

  <div class="col-12 col-sm card text-white" appHighlight>
    <img src="../../../../assets/river.jpg" class="card-img" alt="" />
    <div class="card-img-overlay">
      <h1 class="card-title fs-2 fw-bold">Holiday in Spain</h1>
      <h4 class="card-text">Experince the majic in Spain .</h4>
    </div>
  </div>
</div>
